<h2>Add New Master Data</h2>

<form name="form" novalidate ng-submit="vm.save()">
    <div class="form-horizontal">
        <h4>Master Data</h4>
        <hr />

        <!-- TODO: Write HTML form to accept new master data. -->
        <div class="form-group">

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" ng-disabled="!form.$valid" class="btn btn-primary" />
                <a ng-click="vm.cancel()">Cancel</a>
            </div>
        </div>
    </div>
</form>

<div>
    <h4>Current Master Data</h4>
    <hr />

    <!-- TODO: Display all current master data across different fields -->
</div>
